<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    {% block styles %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='styles.css')}}">
    {% endblock %}

</head>
<body>
    <nav>
        <a href="/dnsparser/1/">Форма</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
